.mustache {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    color: black;
    box-shadow: 
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor;
}
.mustache::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    border-bottom: 180px solid currentColor;
    border: 0 0 0 100%;
    border-radius: 0 0 0 100%;
    top: 69px;
    left: 26px;
    transform: rotate(-40deg);
    transform-origin: right 205px;
}
.mustache::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    border-bottom: 180px solid currentColor;
    border: 0 0 0 100%;
    border-radius: 0 0 100% 0;
    top: 69px;
    left: 424.5px;
    transform: rotate(40deg);
    transform-origin: left 205px;
}